.iconWrapper {
  outline: none;
  border: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  .iconBtn {
    $iconsize: 0.8rem;
    font-size: $iconsize;
    width: calc($iconsize * 1.7);
    height: calc($iconsize * 1.7);
    line-height: calc($iconsize * 1.7);
    text-align: center;
    background-color: transparent;
    transition: background 0.3s;
    border-radius: 50%;
  }
  .iconBtn_sm {
    font-size: 1rem;
    padding: 5px;
    width: calc(1rem * 1.8);
    height: calc(1rem * 1.8);
    line-height: calc(1rem * 1.8);
    text-align: center;
    background-color: transparent;
    transition: background 0.3s;
  }
  .iconBtn_md {
    font-size: 1.3rem;
    padding: 5px;
    width: calc(1.3rem * 1.8);
    height: calc(1.3rem * 1.8);
    line-height: calc(1.3rem * 1.8);
    text-align: center;
    background-color: transparent;
    transition: background 0.3s;
  }
  .iconBtn_lg {
    font-size: 1.5rem;
    padding: 5px;
    width: calc(1.5rem * 1.8);
    height: calc(1.5rem * 1.8);
    line-height: calc(1.5rem * 1.8);
    text-align: center;
    background-color: transparent;
    transition: background 0.3s;
  }
  .iconBtn:hover,
  .iconBtn_sm:hover,
  .iconBtn_md:hover,
  .iconBtn_lg:hover {
    background-color: #11111125;
  }
}
.rounded {
  border-radius: 50%;
  overflow: hidden;
}
