@import "../../../common/common.scss";

.container {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: relative;
  padding: 5px;
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: #f8d8d8;
  button {
    background: #111;
    outline: none;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 0;
    transition: all 0.3s;
    border-radius: 2px;
  }
  button:hover {
    outline: none;
    border: none;
    border-radius: 6px;
  }

  .start {
    .logo {
      color: $accent;
      font-family: "goudy-bookletter-1911", serif;
      font-weight: 400;
      font-style: normal;
      line-height: calc(64px - 10px);
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
  .center {
    width: 50%;
    > i {
      display: none;
    }
    .searchBox {
      height: 2rem;
      cursor: pointer;
      min-width: fit-content;
      background-color: $foreground_primary;
      border-radius: 4px;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      color: $neutral_800;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        #00000014 0px 0px 0px 1px;
      padding: 2px 0;
      max-width: 90%;
      width: 100%;

      i:nth-child(1) {
        margin: 0 3px 0 10px;
      }
      .clear {
        margin-right: 6px;
        margin-left: auto;
      }
      input {
        font-size: 0.95rem;
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: #000;
        height: 100%;
        padding: 0 4px;
        color: $neutral_900;
      }
      .suggestionContainer {
        flex-basis: 100%;
        background: rebeccapurple;
        border-radius: 3px;
        margin-top: 0.5rem;
      }
    }
  }
  .end {
    display: flex;
    justify-content: center;
    align-items: center;
    .searchIcon {
      background-color: $foreground_primary;
      // border-radius: 4px;
      padding: 0.2rem;
      margin: 0 4px;
      display: none;
    }
    i {
      border-radius: 50%;
      color: #222;
    }
    .iconBtn_lg:hover {
      background-color: #11111125;
    }

    .userIcon {
      background-color: #11111115;
    }
  }
}

@media (max-width: 480px) {
  .container {
    .center {
      width: calc(100% - 20px);
      position: absolute;
      background-color: #fff;
      display: none;
      flex-direction: row;
      justify-content: center;
      height: 100vh;
      top: 0;
      left: 0;
      padding: 10px;
      opacity: 0;
      transform: opacity 1s ease-in-out;
      > i {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        margin: 8px;
      }
      .searchBox {
        // display: none;
        flex-basis: 80%;
        margin: 0 auto;
        opacity: 1;
      }
    }
    .end {
      .searchIcon {
        display: block;
      }
    }
  }
}
@media (min-width: 480px) {
  .container {
    .center {
      display: flex !important;
    }
  }
}
.disabled {
  color: $neutral_600;
  pointer-events: none;
}
