@import "../../../common/common.scss";
@import url("https://use.typekit.net/fib6ddu.css");

.container {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: relative;
  padding: 5px;
  background: rgba($color: $primary, $alpha: 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: #f8d8d8;

  button {
    background: rgba($color: $primary, $alpha: 0.9);
    outline: none;
    border: none;
    padding: 10px 15px;
    transition: background 0.1s;
  }
  button:hover {
    outline: none;
    border: none;
    background: rgba($color: $primary, $alpha: 1);
  }

  .start {
    .logo {
      color: $accent;
      font-family: "goudy-bookletter-1911", serif;
      font-weight: 400;
      font-style: normal;
      line-height: calc(64px - 10px);
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
  .center {
    width: 50%;
    .searchBox {
      height: 2rem;
      cursor: pointer;
      min-width: fit-content;
      background-color: $foreground_primary;
      border-radius: 4px;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      color: $neutral_800;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        #00000014 0px 0px 0px 1px;
      padding: 2px 0;

      i:nth-child(1) {
        margin: 0 3px 0 10px;
      }
      .clear {
        margin-right: 6px;
        margin-left: auto;
      }
      input {
        font-size: 0.95rem;
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: #000;
        height: 100%;
        padding: 0 4px;
        color: $neutral_900;
      }
      .suggestionContainer {
        flex-basis: 100%;
        background: rebeccapurple;
        border-radius: 3px;
        margin-top: 0.5rem;
      }
    }
  }
  .end {
    display: flex;
    justify-content: center;
    align-items: center;
    .searchIcon {
      display: none;
    }
    i {
      border-radius: 50%;
      color: #222;
    }
    .iconBtn_lg:hover {
      background-color: #11111125;
    }

    .userIcon {
      background-color: #11111115;
    }
  }
}

@media (max-width: 480px) {
  .container {
    .center {
      .searchBox {
        display: none;
      }
    }
    .end {
      .searchIcon {
        display: block;
      }
    }
  }
}
