.imageSlider {
  overflow: hidden;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    max-width: calc(100vw - 1rem);
    font-size: 1.3rem;
    font-weight: 500;

    .seeAll {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .books {
    position: relative;
    max-width: 100vw;
    width: 100%;
    height: fit-content;
    .slideBtn {
      z-index: 10;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #f8f8f8;
      color: #1f1f1f;
      margin: 0 4px;
      padding: 2rem 1rem;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.3s;
      font-weight: 700;
    }
    .slideBtn:hover {
      opacity: 1;
    }
    .slideBtn#prev {
      left: 0;
    }
    .slideBtn#next {
      right: 0;
    }
    .wrapper {
      position: relative;
      margin-bottom: 20px;
      overflow-x: auto;

      .imageList {
        display: flex;
        font-size: 0;
        overflow-x: auto;
        overflow-y: hidden;
        // scrollbar-width: thin;
        padding: 0 0.1rem;
        scroll-behavior: smooth;
        width: fit-content;
        .book {
          width: 200px;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
          overflow: hidden;
          padding: 0.4rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
