@import "../../common/colors.scss";
body {
  background: $secondary !important;
}
.main {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  grid-template:
    "header header " auto
    "aside section " 1fr
    "footer footer" auto /
    auto 1fr;

  .header {
    grid-area: header;
    height: 64px;
    padding: 5px;
  }

  .aside {
    grid-area: aside;
  }
  .section {
    grid-area: section;
    height: fit-content;
  }
  .footer {
    grid-area: footer;
  }
}
@media (max-width: 768px) {
  .aside {
    display: none;
  }
}
