@import "../../common/colors.scss";

.card {
  flex: 0 0 calc(33% - 22px);
  display: flex;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d0cdb5;
  height: 250px;
  overflow: clip;
  gap: 10px;
  margin: 10px;
  min-width: 400px;

  .coverPage {
    height: 100%;

    img {
      height: 100%;
    }
  }
  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    > span {
      display: block;
    }
    .name {
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 120%;
      word-spacing: -2%;
    }
    .about {
      color: $neutral_800;
      line-height: 150%;
      word-spacing: 5%;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      .favorite {
        color: #e73f4b;
      }
    }
  }
}
