$accent: #9c2525;
$accent_light: #ba4c4c;
$accent_dark: #690a0a;
$accent_darker: #4a0000;

$primary: #ff8b8b;
$primary_light: #ffd9d9;
$primary_dark: #cf7a7a;
$primary_darker: #b14a4a;

$secondary: #f9f7e8;
$secondary_light: #fffefa;
$secondary_dark: #d0cdb5;
$secondary_darker: #b4ae87;

$foreground_primary: #c7f2ea;

$black: #000;
$white: #fff;
$neutral_100: #fcfcfa;
$neutral_200: #f7f5f0;
$neutral_300: #ebe8e4;
$neutral_400: #d6d4d0;
$neutral_500: #bab8b3;
$neutral_600: #8a8884;
$neutral_700: #73716d;
$neutral_800: #33322f;
$neutral_900: #1f1e1c;

.error {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ff1f49;
  background: #ff1f491f;
  padding: 1px 6px;
  border-radius: 6px;
  width: fit-content;
}
