@import "./colors.scss";

.tooltip_bottom::before,
.tooltip_bottom::after {
  --scale: 0;
  --arrow-size: 5px;
  --tooltip-color: #2f2f2f;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 0.1s transform;
  transform-origin: top center;
}
.tooltip_bottom::before {
  --translate-y: calc(100% + var(--arrow-size));

  content: attr(data-tooltip-content);
  color: #fff;
  padding: 0.5rem;
  width: max-content;
  background: var(--tooltip-color);
  max-width: 100%;
  height: fit-content;
  line-height: 90%;
  border-radius: 0.2rem;
  font-weight: 400;
  font-size: 0.9rem;
}
.tooltip_bottom:hover::after,
.tooltip_bottom:hover::before {
  --scale: 1;
}
.tooltip_bottom::after {
  --translate-y: calc(1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}

.tooltip_top::before,
.tooltip_top::after {
  --scale: 0;
  --arrow-size: 5px;
  --tooltip-color: #2f2f2f;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 0.1s transform;
  transform-origin: bottom center;
}
.tooltip_top::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip-content);
  color: #fff;
  padding: 0.5rem;
  width: max-content;
  background: var(--tooltip-color);
  max-width: 100%;
  height: fit-content;
  line-height: 90%;
  border-radius: 0.2rem;
  font-weight: 400;
  font-size: 0.9rem;
}
.tooltip_top:hover::after,
.tooltip_top:hover::before {
  --scale: 1;
}
.tooltip_top::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.iconBtn {
  $iconsize: 0.8rem;
  font-size: $iconsize;
  width: calc($iconsize * 1.7);
  height: calc($iconsize * 1.7);
  line-height: calc($iconsize * 1.7);
  text-align: center;
  background-color: transparent;
  transition: background 0.3s;
  border-radius: 50%;
}
.iconBtn_sm {
  font-size: 1rem;
  padding: 5px;
  width: calc(1rem * 1.8);
  height: calc(1rem * 1.8);
  line-height: calc(1rem * 1.8);
  text-align: center;
  background-color: transparent;
  transition: background 0.3s;
}
.iconBtn_md {
  font-size: 1.3rem;
  padding: 5px;
  width: calc(1.3rem * 1.8);
  height: calc(1.3rem * 1.8);
  line-height: calc(1.3rem * 1.8);
  text-align: center;
  background-color: transparent;
  transition: background 0.3s;
}
.iconBtn_lg {
  font-size: 1.5rem;
  padding: 5px;
  width: calc(1.5rem * 1.8);
  height: calc(1.5rem * 1.8);
  line-height: calc(1.5rem * 1.8);
  text-align: center;
  background-color: transparent;
  transition: background 0.3s;
}
.iconBtn:hover,
.iconBtn_sm:hover,
.iconBtn_md:hover,
.iconBtn_lg:hover {
  background-color: #11111125;
}

button > a {
  text-decoration: none;
  color: #ffffff;
}

button > a:hover {
  color: #ffffffee;
}
