.book {
  width: 150px;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.4rem;
  .coverPage {
    width: 150px;
    height: 225px;
  }
  .info {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    .author {
      font-size: 0.6rem;
    }
  }
}
